<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FirebaseDemo"
        tools:targetApi="31">
        <activity
            android:name=".BaseActivity"
            android:exported="false" />
        <!-- Actividad para recuperar la contraseña -->
        <activity
            android:name=".ForgetPasswordActivity"
            android:exported="false" /> <!-- Actividad para registrar como nuevo usuario en la aplicacion -->
        <activity
            android:name=".SignUpActivity"
            android:exported="false" /> <!-- Actividad para logearse en la aplicacion -->
        <activity
            android:name=".SignInActivity"
            android:exported="false" /> <!-- Actividad que hace referencia a la pantalla de bienbenida -->
        <activity
            android:name=".GetStartedActivity"
            android:exported="true">

            <!-- Filtro de intenciones en el cual se difine que esta actividad es la principal y por el cual se inicia la aplicacion -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- La actividad en el cual inicia el juego -->
        <activity
            android:name=".MainActivity"
            android:exported="true"></activity>
    </application>

</manifest>